.navegacion ul {display: flex; list-style: none;
}
.navegacion ul li {width: 100px;
}
.fondomantas {object-fit: cover;
}
.logo {padding-inline-start: 1px; margin: 10px; 
      border-style: groove ;
   }